.kotak-background{
    position: absolute;
    background-color: #fffd54;
    height: 600px;
    width: 830px;
    border-radius: 75px;
    padding: 0;
    top: 0;
  }
  .kepala{
    background-color: #f6c3cb;
    height: 493.36px;
    width: 493.36px;
    top: 36.64px;
    left: 152px;
    position: absolute;
    border-radius: 50%;
  }
  .hidung{
    background-color: #fffeff;
    height: 113.92px;
    width: 175.52px;
    top: 308.88px;
    left: 312px;
    position: absolute;
    border-radius: 50%;
  }
  .lubang1{
    background-color: #e63df5;
    height: 52.8px;
    width: 52.8px;
    top: 339.52px;
    left: 332.8px;
    position: absolute;
    border-radius: 50%;
  }
  .lubang2{
    background-color: #e93ef6;
    height: 52.8px;
    width: 52.8px;
    top: 339.52px;
    left: 414.4px;
    position: absolute;
    border-radius: 50%;
  }
  .mata1{
    background-color: #ffffff;
    height: 88.88px;
    width: 90.56px;
    top: 191.04px;
    left: 457.2px;
    position: absolute;
    border-radius: 50%;
  }
  .mata2{
    background-color: #ffffff;
    height: 88.32px;
    width: 89.44px;
    top: 191.04px;
    left: 252.24px;
    position: absolute;
    border-radius: 50%;
  }
  .bola-mata1{
    background-color: #000000;
    height: 52.8px;
    width: 53.36px;
    top: 197.2px;
    left: 279.44px;
    position: absolute;
    border-radius: 50%;
  }
  .bola-mata2{
    background-color: #000000;
    height: 52.8px;
    width: 53.36px;
    top: 197.2px;
    left: 488.92px;
    position: absolute;
    border-radius: 50%;
  }
  .telinga1{
    position: absolute;
    border-radius: 40%;
    width: 0;
    height: 60px;
    border-right: 90px solid transparent;
    border-left: 90px solid transparent;
    border-top: 110px solid #f333d3;
    transform: rotate(330deg);
    margin-top: 70px;
    margin-left:  160px;
}
  .telinga2{
    position: absolute;
    border-radius: 40%;
    width: 0;
    height: 60px;
    border-right: 90px solid transparent;
    border-left: 90px solid transparent;
    border-top: 110px solid #f333d3;
    transform: rotate(30deg);
    margin-top: 70px;
    margin-left:  460px;
}
.mulut{
  width: 100px;
  height: 50px;
  border-bottom: 15px solid black;
  border-radius: 70%;
  position: absolute;
  display: block;
  margin-top: 420px;
  margin-left: 347px;
}
