h1{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 2em;
    color: #DE101D ;
}
p{
    font-size: 14px;
    color: #850F16;
    font-family: gara;
}
img{
    border: 2px solid black;
}
div{
    background-color: #DB5B0B;
    border: 2px solid #8F3C09 ;
}
a{
    text-decoration: none;
    color: white;
}